body {
	padding:20px;
	width: 80%;
}

background {
	background-color: red; 
  	background-repeat:no-repeat;
	background-attachment:fixed;
  	font-family: ubuntu, Arial, Helvetica, sans-serif;	
}



/* css for Crocodilia logo */
.logo {
  margin: 2em;
  text-align: center;
  color: #00BF00;
  text-decoration: none;
  font-family: "Segoe Script", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue",       Arial, sans-serif;  
}

.logo > a:link {color:#00bf00; text-decoration: none;}
.logo > a:visited {color:#00bf00;  text-decoration: none;}  
.logo > a:hover {color:#00bf00; text-decoration: none;}  
.logo > a:active {color:#00bf00; text-decoration: none;} 



/* link css */
a:link, a:visited, a:active, a:hover {
	color: #00bf00;
}



/* search box css */
.search {
	margin: 2em 1em 0 0;
  	padding: 1em 0 4em 0;
	float: right;
}


/* navigation css */
.nav {
	float: right;
	margin: 1em;
}



/* image css */
.image {
	float:right;
	clear: all;
	padding: 1em;
	margin-right:10px;
}



/* content css */
section {
	min-height:200px;
	padding: 1em;
}

h2 {
	margin:0;
}

p {
	margin:1.5em;
}

.croc {
	border-bottom: 2px solid #00bf00; 
}

form {
	margin: 1em;
}



/* flash message css */
.flash-message {
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background-color: #00BF00;
	text-align:center;
	padding:5px;
}


label {
	display:block;
	text-transform:uppercase;
}


.error {
	color:red;
}



/* footer styling */
footer {
	background-color: #00BF00;
	min-height: 50px;
}