body {
	padding:20px;
	width: 80%;
}

background {
	background-image: url("http://p4-hbaird.rhcloud.com/images/background2.jpg"); 
  	background-repeat:no-repeat;
	background-attachment:fixed;
  	font-family: ubuntu, Arial, Helvetica, sans-serif;	
}

.logo {
	width:500px;
	margin-bottom:20px;
	display:block;
}

.container {
	width:90%;
	margin-bottom:50px;
}

section {
	min-height:200px;
	padding: 1em;
}


h2 {
	margin:0;
}

p {
	margin:1.5em;
}

.crud {
	float: right;
}
.image {
	float:right;
	clear: all;
	padding: 1em;
	margin-right:10px;
}

}
a:link, a:visited, a:active, a:hover {
	text-decoration:underline;
}

.flash-message {
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:yellow;
	text-align:center;
	padding:5px;
}


label {
	display:block;
	text-transform:uppercase;
}


.error {
	color:red;
}
