body {
	padding:20px;
	width: 80%;
}


.logo {
	width:500px;
	margin-bottom:20px;
	display:block;
}


section {
	min-height:200px;
	padding: 1em;
}


h2 {
	margin:0;
}


.image {
	float:right;
	padding: 1em;
	margin-right:10px;
}


a:link, a:visited, a:active, a:hover {
	text-decoration:underline;
}
